:root{
    --main-color: rgb(234, 239, 242);
    --margin-left: 100px;
}
html{
    height: 100vh;
    margin: 0;
}
body{
    margin: 0;
    display: flex;
    background-color: var(--main-color);
    justify-content: space-between;
    height: 100%;
}

fieldset{
    border: 0;
    margin: 0;
    padding: 0;
}
legend{
    padding: 0;
}
ul{
    padding: 0;
}
/* end of reset */
aside{
    position: relative;
    min-height: calc(360px + 10vh)
}
.logo,.logo-wrapper{
    position: absolute
}
.logo-wrapper{
    height: calc(50px + 10vh);
    width: 35vw;
    background-color: rgba(128, 128, 128, 0.455);
    top: 20vh;
}
.logo{
    height: calc(50px + 10vh);
    left: 35%;
}
img[alt="Yosemite Rock Formations"]{
    width: 35vw;
    height: max(100%,360px + 10vh);
    object-fit: cover;
    object-position: left;
    filter: contrast(1.5);
}
li{
    display: flex;
    padding: 10px 0;
}
li > .input-wrapper > label{
    display: block;
}
body>div:first-of-type{
    box-sizing: border-box;
    width: 65vw;
    margin-top: 10vh;
}
header{
    margin-left: var(--margin-left);
}
form{
    background-color: white;
    padding-left: var(--margin-left);
    width: auto;
}
fieldset>legend{
    position: relative;
    top: 15px
}
.submit-wrapper{
    margin-left: var(--margin-left);
    margin-top: 10px;
    height: 60px;
}
